.grupo-gasto {
	display: flex;
	flex-direction: row;
	border-radius: 8px;
	border: 1px solid transparent;
	margin: 10px 0;
	background-color: #1a1a1a;
	min-width: 300px;
	max-width: 350px;
	max-height: fit-content;
	transition: border-color 0.25s;
	justify-content: space-between;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
}

.grupo-gasto-info {
	display: flex;
	flex-direction: column;
	text-align: left;
}

.grupo-gasto label {
	cursor: pointer;
	color: #ffffff;
	margin: 5px;
}

.grupo-gasto-title {
	cursor: pointer;
	font-size: 1.3rem;
	font-weight: bold;
}

.grupo-gasto-dates {
	cursor: pointer;
	display: flex;
	flex-direction: row;
}

.grupo-gasto-date {
	cursor: pointer;
	font-size: 0.7rem;
	color: #a3a3a3;
}

.grupo-gasto:hover {
	cursor: pointer;
	border-color: #646cff;
	transition: background-color 0.2s, border-color 0.3s;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.gasto-delete-btn {
	background: none;
	border: none;
	opacity: 0;
	transition: opacity 0.2s ease;
	border-radius: 4px;
	padding: 8px;
}

.grupo-gasto:hover .gasto-delete-btn {
	opacity: 1;
}