.detalle-grupo-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.gastos-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.gastos-list {
	max-height: 500px;
	overflow-y: auto;
	padding: 0.8rem;
}

.gastos-header {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.gastos-header-asociados {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 30px;
}

.add-new-gasto-button {
  background-color: #65a6eb;
	font-size: 0.8rem;
  color: rgb(255, 255, 255);
	max-width: fit-content;
	max-height: fit-content;
  border-radius: 4px;
  cursor: pointer;
}
